:host {
 // display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// .container {
// 	max-width: 1070px !important;
// 	overflow: hidden !important;
// }
