<!-- 
<a class="zalo-button" href="https://zalo.me/0368042552" target="_blank">
  <img src="../../../../assets/images/zalo.png" width="50px" height="50px" alt="Zalo">
</a> -->

<!-- footer.component.html -->
<footer class="footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Phương Thảo Shop</h5>
        <p>Chúng tôi luôn mang đến những sản phẩm laptop chất lượng nhất tới khách hàng.</p>
      </div>
      <div class="col-md-4">
        <h5>Liên kết</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Trang chủ</a></li>
          <li><a href="#" class="text-white">Sản phẩm</a></li>
          <li><a href="#" class="text-white">Giỏ hàng</a></li>
          <li><a href="#" class="text-white">Giới thiệu</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Thông tin liên hệ</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i> 123 Xuân Phương,Nam Từ Liêm, Hà Nội</li>
          <li><i class="fas fa-phone"></i> +84 567344555</li>
          <li><i class="fas fa-envelope"></i> laptopphuongthaogmail.com</li>
        </ul>
      </div>
    </div>
    <div class="text-center py-3">
      © 2024 Phương Thảo Shop. All rights reserved.
    </div>
  </div>
</footer>