
<a class="zalo-button" href="https://zalo.me/0368042552" target="_blank">
  <img src="../../../../assets/images/zalo.png" width="50px" height="50px" alt="Zalo">
</a>

<!-- footer.component.html -->
<div class="footer-policy">
  <div class="container">
    <div class="policy d-flex align-items-center">
      <div class="media policy-item tn" onclick="javascript:location.href='https://laptopaz.vn/chinh-sach-van-chuyen.html'">
        <div class="icon-footer">
          <div class="animation-01">
            <i class='fas fa-shipping-fast'></i>
          </div>
        </div>    
        <div class="media-body align-self-center">
          <h5 class="mt-0">Giao hàng miễn phí toàn quốc</h5>
        </div>
      </div>
      
      <div class="media policy-item" onclick="javascript:location.href='https://laptopaz.vn/huong-dan-mua-hang-thanh-toan.html'">
        <div class="icon-footer">
          <div class="animation-02">
            <i class='fas fa-map-marked-alt'></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Mua hàng từ xa</h5>
        </div>
      </div>
      
      <div class="media policy-item" onclick="javascript:location.href='https://laptopaz.vn/chinh-sach-doi-tra-hang.html'">
        <div class="icon-footer">
          <div class="animation-03">
            <i class="fa fa-retweet" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Đổi trả hàng trong 15 ngày</h5>
        </div>
      </div>
      
      <div class="media policy-item" onclick="javascript:location.href='https://laptopaz.vn/huong-dan-mua-hang-tra-gop-tai-laptopaz.html'">
        <div class="icon-footer">
          <div class="animation-04">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Thanh toán linh hoạt: tiền mặt, visa/master, trả góp</h5>
        </div>
      </div>
      
      <div class="media policy-item tn-01" onclick="javascript:location.href='tel:0835 233 233'">
        <div class="icon-footer">
          <div class="animation-05">
            <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
          </div>
        </div>
        <div class="media-body align-self-center">
          <h5 class="mt-0">Hỗ trợ suốt thời gian sử dụng<br>Hotline: <span style="color: red">0835 233 233</span></h5>
        </div>
      </div>
      
    </div>
  </div>
</div>

<footer>
  <div class="footer-link">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6><B>CÔNG TY TNHH TIN HỌC CÔNG NGHỆ AZ VIỆT NAM</B></H6>
              <li>Địa chỉ: Số 18, ngõ 121, Thái Hà, Đống Đa, Hà Nội</li>
              <li>Hotline: 0825 233 233 </li>
              <li>Email: hotrolaptopaz@gmail.com</li>
              <li class="share" >
                <a href="https://www.facebook.com/laptopazvietnam" target="_blank" ><i class='fab fa-facebook-f'></i></a>
                <a href="https://www.youtube.com/c/LAPTOPAZREVIEW" target="_blank" ><i class='fab fa-youtube'></i></a>
                <a href="https://www.tiktok.com/@laptopaz" target="_blank"><i class='fab fa-tiktok'></i></a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6><B> THÔNG TIN CÔNG TY </B></H6>
              <li><a href="/gioi-thieu">Giới thiệu công ty</a></li>
              <li><a href="javascript:;">Tuyển dụng</a></li>
              <li><a href="tel:0989624004">Gửi góp ý, khiếu nại</a></li>
              <li class="baohanh-item">
                <a href="http://online.gov.vn/Home/WebDetails/76577" target="_blank" class="thongbaobct"><img src="/template/t2021/images/bct.png" /></a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6><B> CHÍNH SÁCH CÔNG TY </B></H6>
              <li><a href="/chinh-sach-chat-luong.html">Chính sách chất lượng</a></li>
              <li><a href="/chinh-sach-bao-tri-bao-hanh.html">Chính sách bảo hành - bảo trì</a></li>
              <li><a href="/chinh-sach-doi-tra-hang.html">Chính sách đổi trả</a></li>
              <li><a href="/chinh-sach-bao-mat-thong-tin.html">Chính sách bảo mật thông tin</a></li>
              <li><a href="/chinh-sach-van-chuyen.html">Chính sách vận chuyển</a></li>
              <li><a href="/huong-dan-mua-hang-thanh-toan.html">Hướng dẫn mua hàng- thanh toán</a></li>
            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
          <div class="block block-social">
            <ul class="list-inline mb-25">
              <li class="support-item nd-01">
                <div class="items">
                  <div class="icon--phone">
                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                  </div>
                  <div class="content--support">
                    <span>HOTLINE</span>
                    <a href="tel:0825233233">
                      <span>0825 233 233</span>
                    </a>
                  </div>
                </div>
              </li>
              <!--<li class="support-item nd-02">
                                <div class="items">
                                    <div class="icon--phone">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="content--support">
                                        <span>GỌI KHIẾU NẠI, GÓP Ý</span>
                         <a href="tel:0825233233">
                          <span>0825 233 233</span>
                         </a>
                                    </div>
                                </div>
                            </li>
                            <li class="support-item nd-03">
                                <div class="items">
                                    <div class="icon--phone">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="content--support">
                                        <span>GỌI BẢO HÀNH</span>
                         <a href="tel:0825233233">
                          <span>0825 233 233</span>
                         </a>
                                    </div>
                                </div>
                          </li>
                       <li class="support-item nd-04">
                                <div class="items">
                                    <div class="icon--phone">
                                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                    </div>
                                    <div class="content--support">
                                        <span>HỖ TRỢ KỸ THUẬT</span>
                         <a href="tel:0835 233 233">
                          <span>0835 233 233</span>
                         </a>
                                    </div>
                                </div>
                          </li>-->

            </ul>
          </div>
        </div>
        
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6><B> HỆ THỐNG CỬA HÀNG LAPTOPAZ </B></H6>
              <li><b>LaptopAZ cơ sở Thái Hà</b></li>
              <li>Số 18, ngõ 121, Thái Hà, Đống Đa, Hà Nội</li>
              <li><a href="tel:0825233233">Hotline : 0825 233 233</a></li>
              <li>Bán hàng: Từ 8h30 - 21h30</li>
              <li>Kỹ thuật: Từ 8h30 - 12h & 13h30 - 17h30</li>
              <li><a href="https://goo.gl/maps/oqb2Au69ihA2Ezmo7" target="_blank">Xem chỉ đường</a></li>
            </ul>
          </div>
        </div>      
        
        <div class="col-lg-3 col-sm-6">
          <div class="block block-links">
            <ul class="list-unstyled">
              <H6><B> HỆ THỐNG CỬA HÀNG LAPTOPAZ </B></H6>
              <li><b>LaptopAZ cơ sở Hà Đông</b></li>
              <li>Số 56 Trần Phú, Hà Đông, Hà Nội</li>
              <li><a href="tel:0825233233">Hotline: 0825 233 233</a></li>
              <li>Bán hàng: Từ 8h30 - 21h30</li>
              <li>Kỹ thuật: Từ 8h30 - 12h & 13h30 - 17h30</li>
              <li><a href="https://goo.gl/maps/Lwnp2ZwvdFWNgksz9" target="_blank">Xem chỉ đường</a></li>
            </ul>
          </div>
        </div>           

      </div>
      <div class="h_line"></div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Công ty TNHH Tin học Công nghệ AZ Việt Nam. MST số 0108956087 cấp ngày 23/10/2019 @ Laptopaz. All Rights Reserved</p>
  </div>
  </footer>
  
