################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/aspnet-core/.vs/PTS
/src/aspnet-core/PTS.Host/obj
/src/aspnet-core/PTS.EntityFrameworkCore/obj
/src/aspnet-core/PTS.Domain/obj
/.vs/PTS
/src/aspnet-core/PTS.Base.Application
/src/aspnet-core/PTS.Host/bin/Debug/net8.0
/src/aspnet-core/PTS.Domain/bin/Debug/net8.0
/src/aspnet-core/.vs/ProjectEvaluation
/src/aspnet-core/MS.Infrastructure/bin/Debug/net8.0
/src/aspnet-core/MS.Infrastructure/obj
/src/aspnet-core/PTS.Infrastructure/bin/Debug/net8.0
/src/aspnet-core/PTS.Infrastructure/obj
/src/aspnet-core/PTS.Core/bin/Debug/net8.0
/src/aspnet-core/PTS.Core/obj
/src/aspnet-core/PTS.Shared/bin/Debug/net8.0
