################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/aspnet-core/.vs/PTS
/src/aspnet-core/PTS.Host/obj
/src/aspnet-core/PTS.EntityFrameworkCore/obj
/src/aspnet-core/PTS.Domain/obj
/.vs/PTS
/src/aspnet-core/PTS.Base.Application
/src/aspnet-core/PTS.Host/bin/Debug/net8.0
/src/aspnet-core/PTS.Domain/bin/Debug/net8.0
/src/aspnet-core/.vs/ProjectEvaluation
/src/aspnet-core/MS.Infrastructure/bin/Debug/net8.0
/src/aspnet-core/MS.Infrastructure/obj
/src/aspnet-core/PTS.Infrastructure/bin/Debug/net8.0
/src/aspnet-core/PTS.Infrastructure/obj
/src/aspnet-core/PTS.Core/bin/Debug/net8.0
/src/aspnet-core/PTS.Core/obj
/src/aspnet-core/PTS.Shared/bin/Debug/net8.0
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/ref/PTS.Shared.dll
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0
/src/aspnet-core/PTS.Application/bin/Debug/net8.0
/src/aspnet-core/PTS.Application/obj
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/refint/PTS.Shared.dll
/src/aspnet-core/PTS.Shared/obj/project.nuget.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.AssemblyInfo.cs
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.AssemblyInfoInputs.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.dll
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.pdb
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.csproj.CoreCompileInputs.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.sourcelink.json
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.sourcelink.json
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.csproj.CoreCompileInputs.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.AssemblyInfo.cs
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/refint/PTS.Shared.dll
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.pdb
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.AssemblyInfoInputs.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.dll
/src/aspnet-core/PTS.Shared/obj/project.nuget.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/refint/PTS.Shared.dll
/src/aspnet-core/PTS.Persistence/bin/Debug/net8.0
/src/aspnet-core/PTS.WebAPI/bin/Debug/net8.0
/src/aspnet-core/PTS.Persistence/obj/Debug/net8.0
/src/aspnet-core/PTS.Persistence/obj
/src/aspnet-core/PTS.WebAPI/obj/Debug/net8.0
/src/aspnet-core/PTS.WebAPI/obj
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.csproj.FileListAbsolute.txt
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.csproj.AssemblyReference.cache
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.GeneratedMSBuildEditorConfig.editorconfig
/src/aspnet-core/PTS.Shared/obj/PTS.Shared.csproj.nuget.dgspec.json
/src/aspnet-core/PTS.Shared/obj/Debug/net8.0/PTS.Shared.assets.cache
/src/aspnet-core/PTS.Shared/obj/PTS.Shared.csproj.nuget.g.props
/src/aspnet-core/PTS.Shared/obj/project.assets.json
