<button nz-button nzType="primary"(click)="openModal()">
    <i class="fa fa-plus"></i> Thêm mới
  </button>
  <nz-table #basicTable [nzData]="listData" nzBordered nzSize="middle">
      <thead>
        <tr>
          <th nzWidth="25%">ID</th>
          <th nzWidth="25%">Name</th>
          <th nzWidth="25%">Type</th>
          <th nzWidth="25%">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td>{{ item.id }}</td>
          <td>{{ item.code}}</td>
          <td>{{ item.name }}</td>
          <td>
            <button nz-button nzType="primary" nzSize="small" (click)="edit(item)">Edit</button>
            <button nz-button nzType="primary" nzSize="small" (click)="delete(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="{{ modalTitle }}" (nzOnCancel)="close()" (nzOnOk)="save()">
      <nz-layout *nzModalContent>
        <form nz-form [formGroup]="fbForm" >
          <nz-form-item>
            <nz-form-label nzFor="code" [nzSm]="8" nzRequired>Mã</nz-form-label>
            <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
              <input nz-input formControlName="ma" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="thongSo" [nzSm]="8" nzRequired>Thông số</nz-form-label>
            <nz-form-control [nzSm]="16" nzErrorTip="Giá trị bắt buộc!">
              <input nz-input formControlName="name" />
            </nz-form-control>
          </nz-form-item>
       </form>
         </nz-layout>
         <div *nzModalFooter>
          <button type="button" nz-button nzType="default" (click)="close()"  >Đóng</button>
          <button type="button" nz-button nzType="primary"><i nz-icon (click)="save()" nzType="save"></i>Lưu
          </button>
      </div>
    </nz-modal>