/* 4.Login.html */
// .w-480 {
//     max-width: 480px;
//     margin: auto;
// }
.sec-login {
    background:url(../../../../assets/images/login-bg.jpg) repeat; 
    float: left;
    width: 100%;
    padding: 4%; height: 100vh;
}
.formlogin {
    float: right;
    max-width: 480px;position: relative;
    background: #fff;
    padding: 24px;
    border-radius: 10px;
}.head-img {
    text-align: center;
    margin-bottom: 12px;
}.head-img img {
   display: inline-block; height: 48px; width: 48px
}
.head-login {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}
.label-login {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    display: block;
}
.input-ctrl {
    background: #f2f4f6;
    border-radius: 8px;
    width: inherit;
}
.btnlogin {
    background: #174f9a;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
    padding: 0 24px;
}.btnlogin.bgevn {
  background: #fff;
  border: solid 1px #c30000;
  color: #c30000;
}
.fix_mbg20 {
    margin-bottom: 20px;
}
.ic_colse {
    position: absolute;
    top: 16px;
    height: 36px;
    width: 36px;
    background: #ddd;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    right: 16px; cursor: pointer; z-index: 1
}
/*End */