.price-p{
    color: red;
}
.old-price-p{
    color: gray;
  text-decoration: line-through; 
}
.text-card-product{
  text-decoration: none; 
  color: black;
}
.container{
  width: 1200 !important;
  max-width: 1200 !important;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.pro-head {
  margin-bottom: 10px;
  background: #fff;
  margin-top: 30px;
  display: flex;
 
    color: #007bff;
    text-decoration: none;
    background-color: transparent;

}
  