<div class="container">
  <div class="row">
    <div class="carousel col-sm-12 col-md-12">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="2000">
            <img src="https://laptopaz.vn/media/banner/11_Aug29a74558ff9902e013ca718f69d10683.jpg" class="d-block w-100"
              alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://laptopaz.vn/media/banner/11_Aug29a74558ff9902e013ca718f69d10683.jpg" class="d-block w-100"
              alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://laptopaz.vn/media/banner/11_Aug29a74558ff9902e013ca718f69d10683.jpg" class="d-block w-100"
              alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="pro-head d-flex">
    <div class="title">
      <h3><a href="/laptop-van-phong.html">HỌC TẬP - VĂN PHÒNG</a></h3>
    </div>
    <div class="filter-price d-flex align-items-center">
      <span>Mức giá:</span>
      <ul class="d-flex m-0 list-unstyled">
        <li><a href="/laptop-mong-nhe.html?max=10000000&amp;min=5000000">5 Triệu - 10 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=20000000&amp;min=10000000">10 Triệu - 20 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=30000000&amp;min=20000000">20 Triệu - 30 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=40000000&amp;min=30000000">30 Triệu - 40 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=400000000&amp;min=40000000">Trên 40 Triệu</a></li>
      </ul>
    </div>
  </div>
  <div class="product-list">
    <div class="container">
      <div class="p-list d-flex flex-wrap">
        <ng-container *ngIf="products && products.length > 0; else loading">
          <div class="p-item" *ngFor="let p of products">
            <div class="p-img">
              <a>
                <img src="https://laptopaz.vn/media/product/2487_laptopaz_dell_xps_9520_1.jpg" alt="">
              </a>
            </div>
            <div class="p-emtry">
              <a class="p-name">[New 100%] {{p.nameProduct }} {{p.code }} {{p.tenCpu }}
                {{p.thongSoRam }} {{p.thongSoHardDrive }}</a>
              <span class="p-price">
                <span class="box-text-update2021">
                  <span class="show-shadow">
                    47.990.000
                  </span>
                </span>
                <span class="p-mprice">
                  58.890.000
                </span>
              </span>
            </div>
            <span class="productType">
              <img class="img-fluid" src="../../../../assets/images/sales.png" alt="sale off">
              <span class="percent">-19%</span>
            </span>
            
          </div>
        </ng-container>
        <ng-template #loading>
          <div>
            <nz-spin nzTip="Loading...">
              <nz-alert nzType="info" nzMessage="Alert message title"
                nzDescription="Further details about the context of this alert."></nz-alert>
            </nz-spin>
          </div>
        </ng-template>
      </div>

    </div>

  </div>
  <!-- <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" *ngFor="let p of products">
      <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
        <a [routerLink]="['/product', p.id]" class="text-card-product">{{p.nameProduct }} {{p.code }} {{p.tenCpu }}
          {{p.thongSoRam }} {{p.thongSoHardDrive }}</a>
        <h4><span class="price-p">{{p.price | vndFormat }} </span> <span class="old-price-p"> {{p.oldPrice |
            vndFormat}}</span></h4>
      </nz-card>
      <div *ngIf="!products">
        <nz-spin nzTip="Loading...">
          <nz-alert
            nzType="info"
            nzMessage="Alert message title"
            nzDescription="Further details about the context of this alert."
          ></nz-alert>
        </nz-spin>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="https://laptopaz.vn/media/product/3126_" />
      </ng-template>
      <p></p>
    </div>
  </div> -->
</div>