<!--<div class="container">
  <div class="pro-head d-flex">
    <div class="title">
      <h3><a href="/laptop-van-phong.html">HỌC TẬP - VĂN PHÒNG</a></h3>
    </div>
    <div class="filter-price d-flex align-items-center">
      <span>Mức giá:</span>
      <ul class="d-flex m-0 list-unstyled">
        <li><a href="/laptop-mong-nhe.html?max=10000000&amp;min=5000000">5 Triệu - 10 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=20000000&amp;min=10000000">10 Triệu - 20 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=30000000&amp;min=20000000">20 Triệu - 30 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=40000000&amp;min=30000000">30 Triệu - 40 Triệu</a></li>
        <li><a href="/laptop-mong-nhe.html?max=400000000&amp;min=40000000">Trên 40 Triệu</a></li>
      </ul>
    </div>
  </div>
  <div class="product-list row">
    <div class="container  ">
      <div class="p-list d-flex flex-wrap">
        <ng-container *ngIf="products && products.length > 0; else loading">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let p of products">
              <div class="p-item">
                <div class="p-img">
                  <a>
                    <img src="https://laptopaz.vn/media/product/2487_laptopaz_dell_xps_9520_1.jpg" alt="">
                  </a>
                </div>
                <div class="p-emtry">
                  <a class="p-name" [routerLink]="['/product', p.id]" >[New 100%] {{ p.nameProduct }} {{ p.code }} {{ p.tenCpu }} {{ p.thongSoRam }} {{ p.thongSoHardDrive }}</a>
                  <span class="p-price">
                    <span class="box-text-update2021">
                      <span class="show-shadow">
                        47.990.000
                      </span>
                    </span>
                    <span class="p-mprice">
                      58.890.000
                    </span>
                  </span>
                </div>
                <span class="productType">
                  <img class="img-fluid" src="../../../../assets/images/sales.png" alt="sale off">
                  <span class="percent">-19%</span>
                </span>
              </div>
            </div>
          </div>
        </ng-container>
        
        <ng-template #loading>
          <div>Loading...</div>
        </ng-template>
        
        <ng-template #loading>
          <div>
            <nz-spin nzTip="Loading...">
              <nz-alert nzType="info" nzMessage="Alert message title"
                nzDescription="Further details about the context of this alert."></nz-alert>
            </nz-spin>
          </div>
        </ng-template>
      </div>

    </div>

  </div>
  <div nz-row [nzGutter]="16">
    <div nz-col nzSpan="24" nzSm="12" nzMd="8" nzLg="6" *ngFor="let p of products">
      <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
        <a [routerLink]="['/product', p.id]" class="text-card-product">{{p.nameProduct }} {{p.code }} {{p.tenCpu }}
          {{p.thongSoRam }} {{p.thongSoHardDrive }}</a>
        <h4><span class="price-p">{{p.price | vndFormat }} </span> <span class="old-price-p"> {{p.oldPrice |
            vndFormat}}</span></h4>
      </nz-card>
      <div *ngIf="!products">
        <nz-spin nzTip="Loading...">
          <nz-alert
            nzType="info"
            nzMessage="Alert message title"
            nzDescription="Further details about the context of this alert."
          ></nz-alert>
        </nz-spin>
      </div>
      <ng-template #coverTemplate>
        <img alt="example" src="https://laptopaz.vn/media/product/3126_" />
      </ng-template>
      <p></p>
    </div>
  </div> 
</div>-->
<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://laptopaz.vn/media/banner/11_Aug29a74558ff9902e013ca718f69d10683.jpg"
          class="d-block w-100 img-slide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://laptopaz.vn/media/banner/27_Feb3f0f2afd60ebd23638c40e604c4f2897.jpg"
          class="d-block w-100 img-slide" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://laptopaz.vn/media/banner/18_Mare95ffd274c039d51bb5b9fa0e7e5dbef.jpg"
          class="d-block w-100 img-slide" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- Bengin site-content -->
<div class="container">
  <!-- Bengin main -->
  <main class="main">
    <div class="row">
      <div class="container">
        <div class="p-list d-flex flex-wrap">
          <ng-container *ngIf="products && products.length > 0; else loading">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let p of products">
                <div class="p-item">
                  <div class="p-img">
                    <a>
                      <img src="https://laptopaz.vn/media/product/2487_laptopaz_dell_xps_9520_1.jpg" alt="">
                    </a>
                  </div>
                  <div class="p-emtry">
                    <a class="p-name" [routerLink]="['/product', p.id]">[New 100%] {{ p.nameProduct }} {{ p.code }} {{
                      p.tenCpu }} {{ p.thongSoRam }} {{ p.thongSoHardDrive }}</a>
                    <span class="p-price">
                      <span class="box-text-update2021">
                        <span class="show-shadow">
                          47.990.000
                        </span>
                      </span>
                      <span class="p-mprice">
                        58.890.000
                      </span>
                    </span>
                  </div>
                  <span class="productType">
                    <img class="img-fluid" src="../../../../assets/images/sales.png" alt="sale off">
                    <span class="percent">-19%</span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #loading>
            <div>Loading...</div>
          </ng-template>

          <ng-template #loading>
            <div>
              <nz-spin nzTip="Loading...">
                <nz-alert nzType="info" nzMessage="Alert message title"
                  nzDescription="Further details about the context of this alert."></nz-alert>
              </nz-spin>
            </div>
          </ng-template>
        </div>

      </div>

    </div>
    <div class="product-list row">
      <div class="container  ">
        <div class="p-list d-flex flex-wrap">
          <ng-container *ngIf="products && products.length > 0; else loading">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4" *ngFor="let p of products">
                <div class="p-item">
                  <div class="p-img">
                    <a>
                      <img src="https://laptopaz.vn/media/product/2487_laptopaz_dell_xps_9520_1.jpg" alt="">
                    </a>
                  </div>
                  <div class="p-emtry">
                    <a class="p-name" [routerLink]="['/product', p.id]">[New 100%] {{ p.nameProduct }} {{ p.code }} {{
                      p.tenCpu }} {{ p.thongSoRam }} {{ p.thongSoHardDrive }}</a>
                    <span class="p-price">
                      <span class="box-text-update2021">
                        <span class="show-shadow">
                          47.990.000
                        </span>
                      </span>
                      <span class="p-mprice">
                        58.890.000
                      </span>
                    </span>
                  </div>
                  <span class="productType">
                    <img class="img-fluid" src="../../../../assets/images/sales.png" alt="sale off">
                    <span class="percent">-19%</span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>

          <ng-template #loading>
            <div>Loading...</div>
          </ng-template>

          <ng-template #loading>
            <div>
              <nz-spin nzTip="Loading...">
                <nz-alert nzType="info" nzMessage="Alert message title"
                  nzDescription="Further details about the context of this alert."></nz-alert>
              </nz-spin>
            </div>
          </ng-template>
        </div>

      </div>

    </div>
    <!-- Bengin section -->
    <section class="section div-border">

    </section>
    <!-- End section -->
    <!-- Bengin section -->
    <section class="section div-border">
      <header class="section-header">
        <h2 class="headding-title"><a href="#">Tin mới nhất</a></h2>
      </header>
      <!-- Bengin content-center -->
      <div class="content-center boder-after">
        <div class="section-news">
          <div class="section-content">
            <article class="post post-news first-news">
              <figure class="post-thumb"> <a href="#" class="post-image">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../images/thumb.jpg">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="../../images/thumb.jpg" alt="Article thumbnail">
                  </picture>
                </a> </figure>
              <header class="entry-header">
                <h3 class="entry-title"> <a href="#">Đề xuất kéo dài thời hiệu kỷ luật hành chính với cán bộ, công
                    chức</a> </h3>
              </header>
              <div class="entry-summary">
                <p>"Họ nói rằng nếu chiến thắng, họ sẽ không tiếp tục tài trợ cho Ukraine", Tổng thống Mỹ Joe Biden
                  phát biểu tại sự kiện vận động bầu cử ở bang Pennsylvania ngày 20/10. "Họ nói rằng nếu chiến thắng,
                  họ sẽ không tiếp tục tài trợ cho Ukraine", Tổng thống Mỹ Joe Biden phát biểu tại sự kiện vận động
                  bầu cử ở bang Pennsylvania ngày 20/10. </p>
              </div>
            </article>
            <article class="post post-news">
              <figure class="post-thumb thumb-l-260"> <a href="#" class="post-image ">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../images/thumb.jpg">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="../../images/thumb.jpg" alt="Article thumbnail">
                  </picture>
                </a> </figure>
              <div class="post-inner grid">
                <header class="entry-header">
                  <h3 class="entry-title"> <a href="#">Những khoảnh khắc thót tim trong lịch sử khám phá vũ trụ</a>
                  </h3>
                </header>
                <div class="entry-summary hidden-m">
                  <p>VOH - Hồi 13 giờ ngày 09/10, vị trí tâm bão số 4 ở vào khoảng 21,4 độ Vĩ Bắc; 112,7 độ Kinh Đông,
                    trên vùng biển phía Nam tỉnh Quảng Đông (Trung Quốc) VOH - Hồi 13 giờ ngày 09/10, vị trí tâm bão
                    số 4 ở vào khoảng 21,4 độ Vĩ Bắc; 112,7 độ Kinh Đông, trên vùng biển phía Nam tỉnh Quảng Đông
                    (Trung Quốc).</p>
                </div>
                <footer class="entry-meta"> <a href="#" class="link-comments"><svg width="16" height="16"
                      viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2Z" fill="#174E49" />
                    </svg> 23 bình luận</a> </footer>
              </div>
            </article>
            <article class="post post-news">
              <figure class="post-thumb thumb-l-260"> <a href="#" class="post-image ">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../images/thumb.jpg">
                    <!--[if IE 9]></video><![endif]-->
                    <img src="../../images/thumb.jpg" alt="Article thumbnail">
                  </picture>
                </a> </figure>
              <div class="post-inner grid">
                <header class="entry-header">
                  <h3 class="entry-title"> <a href="#">Diện mạo ga trên cao lớn nhất Metro Số 1</a> </h3>
                </header>
                <div class="entry-summary hidden-m">
                  <p>VOH - Hồi 13 giờ ngày 09/10, vị trí tâm bão số 4 ở vào khoảng 21,4 độ Vĩ Bắc; 112,7 độ Kinh Đông,
                    trên vùng biển phía Nam tỉnh Quảng Đông (Trung Quốc) VOH</p>
                </div>
                <footer class="entry-meta"> <a href="#" class="link-comments"><svg width="16" height="16"
                      viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M18 0H2C.9 0 0 .9 0 2v18l4-4h14c1.1 0 2-.9 2-2V2c0-1.1-.9-2-2-2Z" fill="#174E49" />
                    </svg> 23 bình luận</a> </footer>
              </div>
            </article>
            <article class="post post-news">
              <figure class="post-thumb thumb-l-260"> <a href="#" class="post-image ">
                  <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source srcset="../../images/thumb3.jpg">
                    <!--[if IE 9]></video><![endif]-->

                    <img src="../../images/thumb3.jpg" alt="Article thumbnail">
                  </picture>
                </a> </figure>
              <div class="post-inner grid">
                <header class="entry-header">
                  <h3 class="entry-title"> <a href="#">Dunlopillo và Đệm Xinh Luxury ra mắt BST Dunlopillo Royal
                      Collection</a> </h3>
                </header>
                <div class="entry-summary hidden-m">
                  <p>VOH - Hồi 13 giờ ngày 09/10, vị trí tâm bão số 4 ở vào khoảng 21,4 độ Vĩ Bắc; 112,7 độ Kinh Đông,
                    trên vùng biển phía Nam tỉnh Quảng Đông (Trung Quốc) VOH</p>
                </div>
                <div class="ad-category"> <a href="#" class="tag-ad">voh.com.vn</a> <span class="tag-ad">|</span> <a
                    href="#" class="tag-ad">Sponsored</a> </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <!-- End content-center -->
    </section>
    <!-- End section -->
  </main>
  <!-- End main -->
  <!-- Bengin footer -->

  <!-- End footer -->
</div>
<!-- Bengin site-content -->