<nz-layout style="background: #fff; padding: 0;">
    <div class="logo"></div>
    <ul nz-menu nzMode="horizontal" [nzTheme]="'light'">
      <li nz-menu-item ><a [routerLink]="'/'" >Home</a></li>
      <li nz-menu-item ><a href="#">Trang chủ</a></li>
      <li nz-menu-item ><a [routerLink]="'/'" >Laptop Mới</a></li>
      <li nz-menu-item ><a [routerLink]="'/'" >Tin Tức, Khuyến Mại</a></li>
      <li nz-menu-item ><a [routerLink]="'/'" >Tra Cứu Đơn Hàng</a></li>
      <li nz-menu-item ><a href="#">Giỏ Hàng</a></li>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
          <input type="text" nz-input placeholder="Nhập tên sản phẩm để tìm kiếm" />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
        </ng-template>
     
      <!-- <li nz-menu-item ><a href="#">Home</a></li>
      <li nz-menu-item ><a href="#">Home</a></li> -->
    </ul>
 </nz-layout>