.login-form {
  max-width: 400px;
}
.login-layout{
  background-color: white;
}
.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
.bg-white{
  background-color: #fff;
}
.w-80-px{
  width: 80px;
}