<button nz-button nzType="primary" style="margin-bottom: 15px;" (click)="create()">
  <i class="fa fa-plus"></i> Thêm mới
</button>
<div>


</div>
<nz-table #basicTable [nzData]="listData" nzBordered nzSize="middle">
  <thead>
    <tr>
      <th nzWidth="1%">STT</th>
      <th nzWidth="5%">Mã</th>
      <th nzWidth="10%">Tên sản phẩm</th>
      <th nzWidth="10%">Hình ảnh</th>
      <th nzWidth="10%">Mã QR</th>
      <th nzWidth="5%">Giá bán</th>
      <th nzWidth="6%">Giảm giá</th>
      <th nzWidth="10%">Khả năng nâng cấp</th>
      <th nzWidth="10%">Trạng thái</th>
      <th nzWidth="5%">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{ item.stt}}</td>
      <td>{{ item.code}}</td>
      <td>{{ item.nameProduct}}</td>
      <td> <img style="width: 100%; height: 100%;" nz-image nzSrc="https://localhost:44302{{ item.imageMain }}" alt="">
      </td>
      <td><nz-qrcode [nzValue]="item.code"></nz-qrcode></td>
      <td>{{ item.price }}</td>
      <td>{{ item.discount }}</td>
      <td>{{ item.upgrade}}</td>
      <td>{{ item.strStatus}}</td>
      <td>
        <ng-container>
          <a style="margin-right: 10px;">
            <span class="kt-font-success">
              <i nz-icon nzType="edit" (click)="edit(item)" nzTheme="outline"></i>
            </span>
          </a>
          <a nz-popconfirm nzPopconfirmTitle="Bạn có muốn xóa sản phẩm này không?" nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="delete(item.id)" (nzOnCancel)="cancel()">
            <span class="kt-font-danger">
              <i nz-icon nzType="delete" nzTheme="outline"></i>
            </span>
          </a>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>