<form [formGroup]="productDetailForm" (ngSubmit)="onSubmit()">
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Code</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <input nz-input formControlName="code" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Price</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="price"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Old Price</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="oldPrice"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="4">Upload Images</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-upload
          nzAction=""
          [(nzFileList)]="fileList"
          (nzChange)="handleChange($event)"
          [nzBeforeUpload]="beforeUpload"
          nzMultiple
        >
          <button nz-button>
            <i nz-icon nzType="upload"></i> Select File
          </button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item>
      <nz-form-label [nzSpan]="4" nzRequired>Product Entity ID</nz-form-label>
      <nz-form-control [nzSpan]="8">
        <nz-input-number formControlName="productEntityId"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
  
    <!-- Add more fields as needed -->
  
    <nz-form-item>
      <nz-form-control [nzSpan]="12" nzOffset="4">
        <button nz-button nzType="primary" [disabled]="!productDetailForm.valid">Submit</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  