@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.1");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

a, a:hover{text-decoration:none;}
.ul, .format{margin:0;padding:0;list-style:none;}
.text-10{font-size:10px;}
.text-11{font-size:11px;}
.text-12{font-size:12px;}
.text-13{font-size:13px;}
.text-14{font-size:14px;}
.text-15{font-size:15px;}
.text-16{font-size:16px;}
.text-17{font-size:18px;}
.text-18{font-size:18px;}
.text-20{font-size:20px;}
.text-24{font-size:24px !important;}
.text-25{font-size:25px;}
.text-30{font-size:30px;}
.transition{-webkit-transition:all .8s ease;transition:all .8s ease;}
.line-h19{line-height:19px;}
.line-h22{line-height:22px;}
.line-h25{line-height:25px;}
.line-h30{line-height:30px;}
.shadow-5{-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.2);box-shadow:0 0 5px rgba(0, 0, 0, 0.2);}
.shadow-10{-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);box-shadow:0 0 10px rgba(0, 0, 0, 0.2);}
.mt25{margin-top:25px;}
body{font-family:Roboto , sans-serif;font-size:14px;background-color:#f5f5f5;}
.container{width:1200px !important;max-width:1200px !important;padding-right:10px;padding-left:10px;margin-right:auto;margin-left:auto;}
a{color:#333;}
.red{color:#ec1c24;}
header .logo{width:150px;margin-top:5px;}
header .search-form{border:none;border-radius:4px;width:500px;height:40px;background-color:#fff;position:relative;margin:25px 0;z-index:999;}
header .search-form input{width:100%;padding-right:38px;line-height:36px;padding-left:10px;background-color:transparent;border:1px solid #2b80dd;}
header .search-form #sbutton{position:absolute;border:1px solid #2b80dd;right:0;color:#fff;font-weight:700;cursor:pointer;top:0;bottom:0;width:46px;height:auto;border-radius:0 4px 4px 0;background-color:#2b80dd;}
header .cart .cart-quantity-counter{position:absolute;right:5px;top:-5px;background:#2b80dd;color:#fff;padding:3px 5px 2px 5px;font-size:14px;font-weight:bold;text-align:center;line-height:14px;border-radius:9999px;}
.menu{background-color:#2b80dd;height:37px;line-height:37px;}
.menu .item{margin:0 3px;padding:0 10px;display: flex;align-items: center;width: calc(100% / 4);justify-content: center;}
.menu .item .sub_nav{opacity:0;visibility:hidden;background-color:#fff;position:absolute;text-align:left;left:0;min-width:1180px;top:57px;background:#fff;z-index:99;border:solid 1px #d3d3d3;overflow:hidden;-webkit-transition:0.3s ease-out;transition:0.3s ease-out;}
.menu .item .sub_nav .sub_filter{display:table-cell;vertical-align:top;padding:10px;min-width:210px;}
.menu .item .sub_nav .sub_filter .title{font-size:13px;font-weight:bold;color:#3d3d3d;text-transform:uppercase;padding:8px 0 12px;margin:0;line-height:18px;}
.menu .item .sub_nav .sub_filter li{line-height:30px;}
.menu .item .sub_nav .sub_filter .list_2col > li{float:left;width:50%;}
.menu .item .sub_nav .sub_filter .list_2col > li a{font-size:14px;color:#3d3d3d;display:block;transition:color 0.3s;position:relative;}
.menu .item .sub_nav .sub_filter .list_2col > li a::after{box-sizing:inherit;content:'';position:absolute;width:100%;height:100%;border:1px solid transparent;width:0;height:0;}
.menu .item .sub_nav .sub_filter .list_2col > li a::after{bottom:0;left:0;}
.menu .item .sub_nav .sub_filter .list_2col > li a:hover::after{width:100%;height:0;}
.menu .item .sub_nav .sub_filter .list_2col > li a:hover::after{border-bottom-color:#ec1c24;border-left-color:#ec1c24;transition:border-color 0s ease-out 0.3s, width 0.3s ease-out 0.3s;}
.menu .item .sub_nav .sub_filter.hasboder{border-right:1px solid #d3d3d3;}
.menu .item:hover{background-color:#115fb4;}
.menu .item:hover .sub_nav{opacity:1;visibility:visible;-webkit-transform:translateY(-20px);transform:translateY(-20px);}
.menu .item .root{font-size:13px;line-height:22px;color:#fff;font-weight:600;padding-left: 7px;}
.danhmuc-2 .title-danhmuc-2 {font-size: 20px;text-align: center;color: #fff;padding: 8px 35px 10px 10px;background: #2b80dd;font-weight: 700;border-radius: 0 0 10px 0;}
.menu .icon_root img{max-width:33px;}
.slide-home{width:780px;min-width:780px;}
.slide-home .owl-theme .owl-dots{margin-top:0 !important;position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.slide-home .owl-theme .owl-dots span{width:7px;height:7px;margin:5px;}
.slide-home .owl-theme .owl-dots .owl-dot.active span, .slide-home .owl-theme .owl-dots .owl-dot:hover span{background-color:#ec1c24;}
.banner-right{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;-webkit-box-flex:1;flex-grow:1;max-width:100%;padding-left:5px;}
.banner-right a{display:block;margin-bottom:5px;}
.product-home .pro-head{margin-bottom:10px;background:#fff;margin-top:30px;}

.product-home .pro-head .title h3{margin-bottom:0;text-transform:uppercase;font-size:22px;line-height:40px;padding:0 40px 0 24px;}
.product-home .pro-head .title h3 a{color:#fff;-webkit-transition:0.5s ease-in-out;transition:0.5s ease-in-out;}
.product-home .pro-head .title h3 a:hover{color:black;-webkit-transition:0.5s ease-in-out;transition:0.5s ease-in-out;}
.product-home .pro-head .filter-price{margin-right:10px;}
.product-home .pro-head .filter-price span{font-weight:bold;font-size:14px;margin-right:10px;}
.product-home .pro-head .filter-price a{color:#0084cb;text-transform:uppercase;margin:5px;}
.product-home .pro-head .filter-price a:hover{color:#ff9300;}
.p-item{position:relative;width:294px;padding:5px;border:5px solid #f5f5f5;background-color:#fff;order:1;float:left;padding-bottom:18px;}
.p-item.p-item-1{width:297px;background-color:transparent;padding-left:0;border:0;order:0;}
.p-item.p-item-1 .p-img{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;max-width:100%;}
.p-item.p-item-1 .p-img a{padding-bottom:364px;}
.p-item .p-img a{position:relative;overflow:hidden;display:block;padding-bottom:235px;}
.p-item .p-img a img{position:absolute;max-width:100%;max-height:100%;width:auto !important;height:auto !important;left:0;top:0;right:0;bottom:0;display:block;margin:auto;transition:0.5s;}
.p-item:hover .p-img a img{transform:scale(0.9);transition:0.5s;}
.p-item .productType{position:absolute;top:10px;right:auto;left:10px;width:40px;}
.p-item .productType .percent{position:absolute;top:0;left:50%;transform:translateX(-50%);line-height:40px;color:#fff;font-weight:600;}
.p-item .p-hover{display:none !important;position:absolute;left:100%;top:0;bottom:0;z-index:-1;background:#fff;width:calc(100% + 10px);padding:10px;-webkit-box-shadow:0 0 10px 0 #ccc;box-shadow:0 0 10px 0 #ccc;opacity:0;-webkit-transition:0.6s opacity ease-in-out, 0.9s z-index;transition:0.6s opacity ease-in-out, 0.9s z-index;}
.p-item:nth-child(4n) .p-hover{-webkit-transform:translateX(calc(-200% + 10px));transform:translateX(calc(-200% + 10px));}
.p-item .p-emtry{padding-top:15px;font-size:13px;line-height:20px;text-align:center;}
.p-item .p-emtry .p-price{font-size:18px;font-weight:600;font-style:italic;line-height:30px;color:#ec3237;display:block;}
.p-item:hover .p-hover:after, .p-item:hover .p-hover:before{right:100%;top:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
.p-item:hover .p-hover:after{margin-left:-5px;border-width:10px;border-style:solid;border-color:#fff transparent transparent transparent;-webkit-transform:rotate(90deg);transform:rotate(90deg);}
.product-home.has-banner .p-item:nth-child(3n) .p-hover , .p-item:nth-child(4n):hover .p-hover{-webkit-transform:translateX(calc(-200% + 10px));transform:translateX(calc(-200% + 10px));}
.product-home.has-banner .p-item:nth-child(3n) .p-hover:after, .product-home.has-banner .p-item:nth-child(3n) .p-hover:before ,.p-item:nth-child(4n):hover .p-hover:after, .p-item:nth-child(4n):hover .p-hover:before{right:0;left:100%;-webkit-transform:rotate(-90deg);transform:rotate(-90deg);margin-left:0px;margin-right:-5px;}
.product-home.has-banner .p-item:nth-child(n+4){display:none;}
.p-item .p-emtry .p-name{height:60px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.p-item .p-hover .p-price{color:#d70909;font-size:18px;font-weight:500;margin:10px 0;display:block;}
.p-item:hover .p-emtry .p-name{color:#2b80dd;}
.p-item .p-hover .p-name{font-size:16px;line-height:1.2;font-weight:500;color:#333333;display:block;}
.p-item .p-emtry .p-price .p-mprice{font-size:15px;color:#a29c9cd7;text-decoration:line-through;font-style:normal;margin-left:5px;}
.p-list.list-style .p-item{width:100%;}
.p-list.list-style .p-item .p-img a img{max-height:100%;}
.p-list.list-style .p-item .p-img{width:50%;float:left;}
.p-list.list-style .p-item:hover .p-hover{display:none;}
.autocomplete-suggestions{display:none;background-color:#fff;padding:10px;overflow-y:scroll;height:300px;-webkit-box-shadow:2px 1px 6px 0 #000;box-shadow:2px 1px 6px 0 #000;}
.autocomplete-suggestions .autocomplete-suggestion{margin:5px 0;padding:5px 0;border-bottom:1px solid #e1e1e1;}
#breadcrumb{margin:12px 0;display:flex;align-items:center;}
#breadcrumb .item{margin-right:20px;}
#breadcrumb .item::after{content:"/";margin-left:10px;}
#breadcrumb .item:last-child::after{display:none;}
#breadcrumb .item:last-child a{color:#333;}
#breadcrumb .item a{color:#666;}
.bre-new{display:flex;align-items:center;list-style-type:none;margin:0px;padding:0px;}
.bre-new li{margin-right:20px;list-style-type:none;}
.bre-new li::after{content:"/";margin-left:10px;}
.bre-new li:last-child::after{display:none;}
.bre-new li a{color:#666;}
.bre-new li:last-child a{color:#333;}
.top-pro-list .cat li{margin:0 10px;}
.top-pro-list .filter .filter_bar .filter_bar-item{position:relative;}
.top-pro-list .filter .filter_bar .filter_bar-item .filterCurrent{margin-right:30px;font-size:14px;padding:15px 0;display:inline-block;cursor:pointer;color:#000000;}
.top-pro-list .filter .filter_bar .filter_bar-item span{margin-right:30px;font-size:14px;padding:15px 0;display:inline-block;cursor:pointer;color:#007bff;}
.top-pro-list .filter .filter_bar .filter_bar-item span i{vertical-align:2px;}
.top-pro-list .filter .filter_bar .filter_bar-item ul{position:absolute;z-index:11;background-color:#fff;padding:10px 0;width:200px;-webkit-box-shadow:0 0 5px 0 #969696;box-shadow:0 0 5px 0 #969696;left:0;top:100%;-webkit-transform:scale(0);transform:scale(0);-webkit-transition:0.5s all;transition:0.5s all;-webkit-transform-origin:top left;transform-origin:top left;padding:20px 10px;}
.top-pro-list .filter .filter_bar .filter_bar-item ul li{margin-bottom:8px;}
.top-pro-list .filter .filter_bar .filter_bar-item ul li a{color:#333;}
.top-pro-list .filter .filter_bar .filter_bar-item ul li a:hover{color:#ff9300;}
.top-pro-list .filter .filter_bar .filter_bar-item ul li:last-child{margin-bottom:0;}
.top-pro-list .filter .filter_bar .filter_bar-item:hover ul{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:0.5s all;transition:0.5s all;-webkit-transform-origin:top right;transform-origin:top right;}
.top-pro-list .filter .filter-price span{font-weight:bold;font-size:14px;margin-right:10px;}
.top-pro-list .filter .filter-price ul a{color:#0084cb;text-transform:uppercase;margin:5px;}
.product-sort{padding:15px 0 10px;}
.product-sort a{color:#333;font-size:20px;line-height:20px;margin:0 5px;}
.product-sort a.active{color:#2b80dd;}
.product-sort select{margin:0 10px;}
footer{background:#fff;padding:10px 0;}
.tag-footer{margin-top:10px;margin-bottom:10px;}
.tag-footer li{margin-right:15px;}
.tag-footer li a{background-color:#f0f0f0;color:#000000;font-weight:500;font-size:13px;line-height:28px;padding:0 10px;display:inline-block;border-radius:2px 0 0 2px;position:relative;}
.tintuc-footer .title{padding:20px 0;}
.tintuc-footer .title .main-title{font-weight:500;text-transform:uppercase;margin-right:0;font-size:18px;}
.tintuc-footer .title .main-title a{color:#2b80dd;}
.tintuc-footer .tintuc-featured{position:relative;border-right:1px solid #e5e5e5;}
.tintuc-footer .tintuc-featured .item-tintuc .title-tintuc{position:absolute;top:0;left:0;bottom:0;right:0;margin-bottom:0;padding:15px 0 0 15px;background-color:rgba(0, 0, 0, 0.3);background-image:-webkit-gradient(linear, left bottom, left top, from(#1b1b1b), to(#7b7a7a00));background-image:linear-gradient(to top, #1b1b1b, #7b7a7a00);}
.tintuc-footer .item-tintuc{color:#333;font-size:14px;max-width:calc(25% - 10px);flex-basis:25%;margin:1rem;}
.tintuc-footer .item-tintuc .title-tintuc{margin-top:5px;}
.tintuc-footer .item-tintuc .title-tintuc a{font-size:16px;font-weight:bold;line-height:20px;color:#333;}
.tintuc-footer .item-tintuc.media:not(:last-child){margin-bottom:8px;}
.tintuc-footer .item-tintuc .description-tintuc{letter-spacing:0;font-size:14px;line-height:20px;margin-bottom:8px;height:40px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;}
.tintuc-footer .item-tintuc .info-tintuc{color:#999999;padding-top:5px;}
li.list-inline-item.title::before{content:"";border-top:14px solid transparent;border-bottom:14px solid transparent;border-left:10px solid #2b80dd;position:absolute;left:100%;top:0;}
.tag-footer li.title a{background-color:#2b80dd;color:#fff;}
.tintuc-footer .tintuc-featured .item-tintuc .title-tintuc a{color:#fff;}
.pos_footer{background-color:white;padding:1rem;}
.footer-policy{padding:15px 0;margin:20px 0;}
.title.d-flex.align-items-center{padding:7px 0;border-bottom:1px solid #eee;margin-bottom:30px;position:relative;font-size:15px;font-weight:700;}
p.main-title.mb-0::before{content:"";width:30px;height:3px;background:#1090e0;position:absolute;bottom:0px;left:0px;}
.footer-policy .policy .policy-item{font-size:13px;color:#000000;width:20%;cursor:pointer;background-color:white;margin:0 0.5rem;}
.footer-policy .policy .policy-item.tn{margin:0 0.5rem 0 0;}
.footer-policy .policy .policy-item.tn-01{margin:0 0 0 0.5rem;}
.footer-policy .policy .policy-item img{margin-right:7px;}
.footer-policy .policy .policy-item h5{margin-bottom:0;font-size:13px;line-height:15px;font-weight:700;}
.policy.d-flex.align-items-center{display:flex;}
.footer-policy .policy .icon-footer{display:block;width:100%;box-sizing:border-box;color:#1090e0;text-align:center;float:left;width:75px;height:75px;padding:10px;background:#1090e0;clip-path:polygon(0 0, 100% 0, 70% 100%, 0% 100%);position:relative;margin-right:5px;}
.footer-policy .policy .icon-footer::before{width:100%;height:60%;content:'';position:absolute;top:0px;left:0px;background:#ffffff38;clip-path:polygon(0 0, 100% 0, 100% 60%, 0% 100%);}
.footer-policy .policy .animation-01,.footer-policy .policy .animation-02,.footer-policy .policy .animation-03,.footer-policy .policy .animation-04,.footer-policy .policy .animation-05{width:40px;height:40px;top:10px;left:10px;font-size:30px;color:white;position:absolute;}
.footer-policy .policy .animation-01{animation:0.4s fade-bg1 1s infinite alternate;}
@keyframes fade-bg1{from{margin-left:3px;}
 to{margin-left:0;}
}
.footer-policy .policy .animation-02{animation:0.4s fade-bg2 1s infinite alternate;}
@keyframes fade-bg2{from{margin-top:3px;}
 to{margin-top:0;}
}
.footer-policy .policy .animation-03{animation:2s fade-bg3 4s infinite alternate;}
@keyframes fade-bg3{from{transform:rotate(1turn);}
 to{transform:rotate(0turn);}
}
.footer-policy .policy .animation-04{animation:0.4s fade-bg4 1s infinite alternate;}
@keyframes fade-bg4{from{margin-top:3px;}
 to{margin-top:0;}
}
.footer-policy .policy .animation-05{animation:0.4s fade-bg5 1s infinite alternate;}
@keyframes fade-bg5{from{transform:skew(-10deg);}
 to{transform:skew(10deg);}
}
.footer-link{padding-top:2rem;}
.footer-link .block-links ul li{position:relative;}
.footer-link .block-links ul li:not(:last-child){margin-bottom:6px;}
.footer-social-button{font-size:25px;line-height:20px;margin-right:8px;}
.footer-social-button.fa-facebook{color:#4267b2;}
.footer-social-button.fa-youtube-play{color:#b72f2f;}
.detail-type-2 .column-1{max-width:400px;margin-left:10px;}
.video_footer{width:100%;}
.video_footer .video-footer-left{display:flex;}
.video_footer .video-left-content{width:40%;}
.video-footer-left .items-left a{display:flex;padding-bottom:2rem;text-decoration:none;color:black;}
.items-left .items--img{margin-right:1rem;width:calc(45%);overflow:hidden;position:relative;}
.items-left .items--img .icon-video{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:white;border:3px solid white;border-radius:50%;padding:0.5rem 0.7rem;}
.items-left .items--img .icon-video:hover{color:red;border:3px solid red;}
.items--img:hover img{transform:scale(1.16);transition:0.8s;}
.items--img:hover .icon{color:red;border:3px solid red;}
.items-left .items--title{font-size:15px;width:calc(45%);}
.items-left .items--title span{color:gray;}
#video-play .main-video{overflow:hidden;position:relative;height:400px;}
.video-right-content .icon--play{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);color:white;z-index:9999;border:3px solid white;border-radius:50%;padding:1rem 1.3rem;}
.img-videos{position:relative;overflow:hidden;}
.img-videos .overlay{position:absolute;opacity:0;top:50%;left:50%;transform:translate(-50%,-50%);height:70%;width:70%;border:100px double rgba(255, 255, 255, 0.20);transition:all 0.4s cubic-bezier(1, 0.9, 0.3, 0.2) 0s;overflow:hidden;z-index:1;}
.img-videos:hover .overlay{opacity:1;width:140%;height:160%;transition:all 0.5s cubic-bezier(1, 0.9, 0.1, 0.62) 0s;visibility:visible;box-sizing:border-box;}
.img-videos:hover .icon--play{color:red;border:3px solid red;}
.img-videos .video--name{position:absolute;width:100%;bottom:0;color:white;background-color:rgba(0, 0, 0, 0.658);padding:20px;}
.img-videos .video--name h3{font-size:14px;text-align:center;}
.video-right-content{position:relative;width:70%;}
.show-video{display:none;}
.list-tintuc{display:flex;}
.title-bottom{display:flex;padding:2rem 0;}
.title-bottom .summary{font-size:16px;color:#9a9a9a;width:calc(100% - 150px);}
.title-bottom .btn-youtobe a{background-color:#ff585b;color:white;padding:1rem 1rem;text-decoration:none;font-size:14px;border-radius:3px;}
.detail-type-2 .column-2{max-width:400px;margin-left:10px;padding-top:20px;padding-left:0px;padding-bottom:15px;}
.detail-type-2 .column-2 .title{font-size:26px;color:#f5911d;font-weight:bold;}
.detail-type-2 .column-3{max-width:315px;margin-left:10px;}
.detail-type-2 #sync1{padding:10px 0;}
.detail-type-2 #sync2{width:75%;display:inline-block;float:left;}
.detail-type-2 #sync2 .item{border:1px solid #e1e1e1;padding:5px;margin:5px;color:#FFF;border-radius:3px;text-align:center;cursor:pointer;-webkit-box-shadow:0 0 0 0 #ccc;box-shadow:0 0 0 0 #ccc;-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.detail-type-2 #sync2 .current .item{margin-top:10px;-webkit-box-shadow:0 0 10px 0 #ccc;box-shadow:0 0 10px 0 #ccc;-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.detail-type-2 .detail-video{padding:10px 10px;display:inline-block;border:1px solid #e1e1e1;border-radius:3px;margin:5px;}
.detail-type-2 .price{font-weight:bold;font-size:30px;margin-left:0px;color:#ef1200;line-height:30px;display:inline-block;}
.detail-type-2 .summary{margin:10px 0;display:block;}
.detail-type-2 .product-config .title{margin-bottom:10px;display:block;}
.detail-type-2 .product-config ul li{border:1px solid #e1e1e1;border-radius:4px;padding:10px;margin-bottom:8px;cursor:pointer;-webkit-transition:0.4s ease-in-out;transition:0.4s ease-in-out;max-width:calc(33% - 5px);margin-right:5px;text-align:center;background-color:#f5f5f5;}
.detail-type-2 .product-config ul li a{color:#333;}
.detail-type-2 .product-config ul li:hover{background-color:#ccc;-webkit-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.detail-type-2 .product-config ul li.active{border-color:#ef1705;font-weight:bold;position:relative;background-color:#fff;}
.detail-type-2 .product-config ul li.active::before{content:"\f14a";font-family:Font Awesome\ 5 Free;font-weight:900;color:#f52131;position:absolute;top:-3px;right:-1px;}
.detail-type-2 .product-config ul li:hover{background-color:#ccc;-webkit-transition:0.4s ease-in-out;transition:0.4s ease-in-out;}
.detail-type-2 .product-config ul li.selected-attr-value{border-color:#ef1705;font-weight:bold;position:relative;}
.detail-type-2 .product-config ul li.selected-attr-value::before{content:"\f14a";font-family:Font Awesome\ 5 Free;font-weight:900;color:#f52131;position:absolute;top:-3px;right:-1px;}
.detail-type-2 .product-config ul .unselectable-attr-value{color:#e1e1e1;pointer-events:none;}
.detail-type-2 .selcet-config{width:100%;border:1px solid #e1e1e1;height:40px;padding:0 10px;border-radius:5px;outline:none;margin-bottom:10px;}
.detail-type-2 .pro-summary{border:1px solid #f52535;padding:8px;border-radius:3px;}
.detail-type-2 .buy-now{color:#fff;font-size:21px;font-weight:bold;background:#ec1c24;display:block;line-height:24px;text-align:center;border-radius:5px;margin-bottom:10px;padding:5px 0;}
.detail-type-2 .hotline{margin-top:10px;}
.detail-type-2 .hotline a{font-weight:bold;color:#00bf12;}
.detail-type-2 .box-list-pro{margin-top:20px;}
.detail-type-2 .box-list-pro h4{font-size:15px;text-align:center;font-weight:bold;background:-webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e3e3e3));background:linear-gradient(#fbfbfb, #e3e3e3);padding:10px;border-bottom:1px solid #c3c3c3;}
.detail-type-2 .box-list-pro .pro-item{padding:10px 10px 5px 22px;position:relative;}
.detail-type-2 .box-list-pro .pro-item .img{width:70px;padding:0;}
.detail-type-2 .box-list-pro .pro-item .s-name{width:95px;font-size:12px;}
.detail-type-2 .box-list-pro .pro-item .price-gr{width:130px;}
.box-list-pro .pro-item .price-gr .s-unprice{font-size:12px;}
.box-list-pro .pro-item .price-gr .s-price{float:right;font-size:16px;display:block;color:#ef1200;}
.detail-type-2 .box-list-pro .pro-item .price-gr .s-sale{color:#f52131;font-size:12px;font-weight:500;clear:both;display:block;text-align:right;}
.detail-type-2 .box-list-pro .chagne-pro{font-size:12px;font-weight:300;font-style:italic;cursor:pointer;}
.detail-type-2 .box-list-pro .s-total{background:-webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e3e3e3));background:linear-gradient(#fbfbfb, #e3e3e3);padding:10px;border-top:1px solid #c3c3c3;display:block;text-align:right;font-weight:500;}
.detail-type-2 .box-list-pro .s-total strong{font-weight:bold;font-size:25px;color:#ef1200;}
.detail-type-2 .pro-scroll{max-height:400px;overflow-y:scroll;overflow-x:hidden;max-width:100%;}
.detail-type-2 .pro-scroll::-webkit-scrollbar{width:10px;background:transparent;}
.detail-type-2 .pro-scroll::-webkit-scrollbar-track{background:transparent;}
.detail-type-2 .pro-scroll::-webkit-scrollbar-thumb{background:#0001;border-radius:50px;}
.detail-type-2 .pro-scroll::-webkit-scrollbar-thumb:hover{background:#0003;}
.detail-type-2 .main-detail{margin-top:20px;}
.detail-type-2 .main-detail .title-tab{border-bottom:1px solid #e1e1e1;margin-bottom:15px;}
.detail-type-2 .main-detail .title-tab h3{font-size:16px;font-weight:600;line-height:18px;padding:10px 15px;display:inline-block;border-bottom:2px solid #2b80dd;margin-bottom:-1px;}
.detail-type-2 .main-detail .title-tab h4{font-size:18px;font-weight:500px;padding:10px 20px;margin-bottom:0;}
.detail-type-2 .main-detail .emtry-content{padding:0 20px 20px;}
.detail-type-2 .main-detail .pro-parameter .prodetail-spec-full{padding:0 10px 15px;margin-bottom:20px;}
.detail-type-2 .main-detail .pro-parameter .prodetail-spec-full li{padding:4px 0;}
.detail-type-2 .main-detail .pro-parameter .prodetail-spec-full .view-full{display:block;text-align:center;border-radius:3px;border:1px solid #0084cb;color:#0084cb;line-height:40px;cursor:pointer;-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.detail-type-2 .main-detail .pro-parameter .prodetail-spec-full .view-full:hover{border:1px solid #ff9300;color:#ff9300;-webkit-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.detail-type-2 .main-detail .pro-parameter #tb-product-spec tr:nth-child(n+5){display:none;}
.detail-type-2 .main-detail .list-pro-same ul li{display:-ms-flexbox;display:-webkit-box;display:flex;-ms-flex-wrap:wrap;border-bottom:1px solid #e1e1e1;margin-bottom:10px;padding-bottom:10px;}
.detail-type-2 .main-detail .list-pro-same ul li .p-img{width:45%;padding:0 8px;}
.detail-type-2 .main-detail .list-pro-same ul li p{width:65%;padding:0 8px;}
.detail-type-2 .main-detail .list-pro-same ul li p .name{color:#333333;font-weight:500;max-height:40px;overflow:hidden;display:inline-block;}
.detail-type-2 .main-detail .list-pro-same ul li p .price{font-size:16px;margin-bottom:0;line-height:20px;margin-top:5px;margin-left:0;}
.detail-type-2 .main-detail .list-pro-same ul li p .summary{font-size:13px;cursor:pointer;}
.detail-type-2 .main-detail .list-pro-same ul li.p-cursor .pro-compeir{color:#00bf12;}
#img_large{padding:10px;vertical-align:middle;text-align:center;}
#img_large img{max-width:330px;max-height:275px;}
#img_thumb{margin-top:10px;overflow:hidden;display:flex;flex-wrap:wrap;}
#img_thumb li{text-decoration:none;width:30%;margin:5px;display:flex;justify-content:center;position:relative;-webkit-box-shadow:0 0 10px 0 #ccc;box-shadow:0 0 10px 0 #ccc;-webkit-transition:0.3s ease-in-out;}
#img_thumb li a{position:relative;}
#img_thumb img{padding:5px;max-width:100%;}
.MagicZoom img{border:0!important;outline:0!important;margin:0!important;padding:0!important}
.MagicZoomHint{color:#444;font-size:13px;line-height:24px;min-height:24px;text-align:left;text-decoration:none;margin:0;padding:2px !important;}
.MagicZoomHint:before{font-family:"Font Awesome 5 Pro";content:"\f00e"}
.MagicZoomExternalTitle{display:none}
.MagicZoomBigImageCont{background:#fff;border:1px solid #999}
.MagicZoomBigImageCont *{display:inline}
.MagicZoomBigImageCont img{max-width:none!important;max-height:none!important;height:auto!important;width:auto!important}
.MagicZoomHeader{background:#666;color:#fff;font-size:10pt!important;line-height:normal!important;text-align:center!important}
.MagicZoomPup{background:#fff;border:1px solid #aaa;cursor:move}

.MagicBoxShadow{-moz-box-shadow:3px 3px 4px #888888;-webkit-box-shadow:3px 3px 4px #888888;box-shadow:3px 3px 4px #888888;border-collapse:separate;filter:progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888') !important;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#888888')" !important;}
.MagicBoxGlow{-moz-box-shadow:0px 0px 4px 4px #888888;-webkit-box-shadow:0px 0px 4px 4px #888888;box-shadow:0px 0px 4px 4px #888888;border-collapse:separate;filter:progid:DXImageTransform.Microsoft.Glow(Strength=4, Color='#888888') !important;-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Strength=4, Color='#888888')" !important;}
.p-promotion{border:1px solid #e1e1e1;margin-top:20px;padding:15px;border-radius:5px;}
.p-promotion li{margin-bottom:5px;}
.p-promotion li:last-child{margin-bottom:0px;}
.p-promotion li p{margin:0px;line-height:1.8;}
.p-promotion .promotion-title{font-weight:bold;color:#222;font-size:16px;display:block;}
#config-holder ul li{float:left;margin-right:5px;margin-bottom:5px;border:solid 1px #aaa;padding:1px 10px;cursor:pointer;position:relative;box-sizing:border-box;height:23px;overflow:hidden;color:#333;}
#config-holder ul >span{line-height:23px;margin-right:10px;}
#config-holder ul li.selected-attr-value{border-color:#2b80dd !important;border-width:2px !important;}

#config-holder ul li.unselectable-attr-value{opacity:0.5;pointer-events:none;}
#config-holder ul.active{overflow:visible;background-color:#fff;}
#config-holder ul.active li{position:relative;top:auto;}
#config-holder ul li:hover{font-weight:500;}
.stock-status{color:#17c527;font-weight:600;}
.pro-warranty{margin:5px 0;}
.pro-warranty *{display:inline-block;margin:5px 0;}
.pro-warranty a{color:#007bff;}
.tintuc-footer .item-tintuc .thumnail-tintuc{max-width:250px;}
.company-contact{line-height:24px;}
.company-contact p{margin:0;}
.footer-bottom p{text-align:center;margin:0;padding:0;}
.h_line{width:100%;margin:25px 0 10px 0;border:1px dashed #d0d0d0;}
 #toTop{background-color:#2b80dd;color:#fff;display:inline-block;width:34px;height:34px;position:fixed;bottom:345px;right:20px;text-align:center;line-height:30px;font-size:16px;cursor:pointer;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;display:none;}
.tragop-btn{float:left;width:50%;width:205.9px;border:1px solid #dcdcdc;margin:0 2px;padding:5px 10px;text-align:center;border-radius:5px;-webkit-border-radius:5px;background-color:#2b80dd;color:#fff;transition:0.3s all;}
.tragop-btn:hover{color:#fff;background-color:#144882;}
.tragop-btn span{display:inline-block;font-size:11px;}
.nd h1{display:block;font-size:2em;-webkit-margin-before:0.67em;-webkit-margin-after:0.67em;-webkit-margin-start:0px;-webkit-margin-end:0px;font-weight:bold;margin:0.67em 0;}
.nd h2{display:block;font-size:1.5em;-webkit-margin-before:0.83em;-webkit-margin-after:0.83em;-webkit-margin-start:0px;-webkit-margin-end:0px;font-weight:bold;margin:0.83em 0;}
.nd h3{display:block;font-size:1.17em;-webkit-margin-before:1em;-webkit-margin-after:1em;-webkit-margin-start:0px;-webkit-margin-end:0px;font-weight:bold;}
.nd h4{display:block;-webkit-margin-before:1.33em;-webkit-margin-after:1.33em;-webkit-margin-start:0px;-webkit-margin-end:0px;font-weight:bold;font-size:1em;}
.nd ul{padding-left:40px !important;margin:1em 0;list-style:initial;}
.nd ul li,.nd ol li{list-style:initial !important;}
.nd ol{padding-left:40px !important;margin:1em 0;list-style:decimal !important;}
.nd ol li{list-style-type:decimal !important;}
.nd p{margin:1em 0;}
.nd table{border-collapse:collapse;}
.nd table td,.nd table th{padding:5px;}
.nd a{}
.nd{line-height:1.45;}
.nd table td img{max-width:9999px;}
.nd img{height:auto;max-width:100%;}
div#list-image_fancyboxmain{display:none;}
.detail-type-2 .main-detail .pro-parameter .prodetail-spec-full ul{list-style:none;padding-left:0;list-style:none;list-style-type:none !important;}
.cate-list li a{text-transform:uppercase;display:inline-block;color:#2a2a2a;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px;transition:0.3s all;}
.cate-list li a.active, .cate-list li a:hover{color:#fff;background:#2b80dd;text-decoration:none;}
.main-article-list{padding-top:15px;overflow:hidden;}
.main-article-list .article-list-left{float:left;width:780px;padding:0 15px;background:#fff;}
.main-article-list .article-list-right{float:right;width:386px;padding:10px;background:#fff;}
.main-article-list .article-list-right > div{margin-bottom:50px;}
.main-article-list .article-list-right .right-article .title{font-size:18px;font-weight:500;text-transform:uppercase;padding-left:10px;color:#2b80dd;border-left:6px solid #2b80dd;margin-bottom:20px;}
.main-article-list .article-list-right .right-article .hot-article-list ul{padding-left:42px;}
.main-article-list .article-list-right .right-article .hot-article-list ul li{position:relative;}
.main-article-list .article-list-right .right-article .hot-article-list ul li:not(:last-child){margin-bottom:15px;}
.main-article-list .article-list-right .right-article .hot-article-list ul li:before{content:'';width:32px;height:32px;background:#f4f4f4;position:absolute;top:0;left:-42px;}
.main-article-list .article-list-right .right-article .hot-article-list ul li:after{content:"1";position:absolute;top:4px;left:-32px;font-size:18px;color:#c3c3c3;font-weight:bold;}
.main-article-list .article-list-right .right-article .hot-article-list ul li:nth-child(2):after{content:"2";}
.main-article-list .article-list-right .right-article .hot-article-list ul li:nth-child(3):after{content:"3";}
.main-article-list .article-list-right .right-article .hot-article-list ul li:nth-child(4):after{content:"4";}
.main-article-list .article-list-right .right-article .hot-article-list ul li .post-title , .article-item .article-title{font-size:14px;color:#151515;}
.main-article-list .article-list-right .right-article .right-article-content{display:flex;justify-content:space-between;flex-wrap:wrap;}
.main-article-list .article-list-right .right-article .article-item{flex:0 0 50%;max-width:50%;padding-right:7.5px;padding-left:7.5px;}
.main-article-list .article-list-right .right-article .article-item .article-title{margin-bottom:20px;}
.main-article-list .article-list-right .right-article .article-first{padding-bottom:10px;margin-bottom:15px;border-bottom:1px solid #e1e1e1;}
.main-article-list .article-list-right .right-article .article-first .article-item{width:100%;max-width:100%;}
.main-article-list .article-list-right .right-article .article-first .article-img{margin-bottom:10px;}
.main-article-list .article-list-right .right-article .article-first .article-item .article-title a{font-size:14px;font-weight:bold;color:#222;}
.article-list-item-first .thumnail-baiviet{margin-bottom:15px;}
.article-list-item-first .title-baiviet{font-size:23px;font-weight:500;}
.article-list-item-first .title-baiviet a{color:#2b80dd;}
.article-list-item-first{border-bottom:1px solid #e1e1e1;margin-bottom:15px;padding-bottom:15px;width:100%;}
.article-list-item{display:flex;justify-content:space-between;flex-wrap:wrap;}
.item-baiviet{margin-bottom:15px;padding-bottom:19px;border-bottom:1px solid #e1e1e1;}
.item-baiviet .thumnail-baiviet{width:40%;margin-right:10px;}
.item-baiviet .title-baiviet{font-size:23px;font-weight:500;}
.item-baiviet .title-baiviet a{color:#333;}
.item-baiviet .info-baiviet{margin-top:10px;color:#9f9f9f;font-size:13px;}
.main-article-list .article-list-right .right-article .article-item a.thumnail-baiviet{width:20%;padding-bottom:20%;position:relative;overflow:hidden;margin-right:20px;}
.main-article-list .article-list-right .right-article .article-item a.thumnail-baiviet img{position:absolute;width:100%;height:100%;object-fit:cover;object-position:center center;}
.main-article-list .article-list-right .right-article .article-item .item-baiviet.media{margin-top:30px;}
.article-list-item-first .thumnail-baiviet > a{width:100%;display:block;position:relative;padding-bottom:55%;}
.article-list-item-first .thumnail-baiviet > a > img{position:absolute;width:100%;height:100%;object-fit:cover;object-position:center;}
.main-article-list .article-list-right .right-article .article-item .article-img > a{width:100%;display:block;position:relative;padding-bottom:100%;}
.main-article-list .article-list-right .right-article .article-item .article-img > a > img{position:absolute;width:100%;height:100%;object-fit:cover;object-position:center;}
.main-article-list .article-list-right .right-article .article-first .article-item .article-img > a > img{position:relative;}
.main-article-list .article-list-right .right-article .article-first .article-item .article-img > a{padding-bottom:0;}
.list-banner-footer{margin:20px 0;}
#brand-footer{padding:15px 30px;background:#fff;margin-bottom:15px;}
#brand-footer .item img{width:auto;height:40px;display:block;margin:auto;}
#uudai{border:solid 1px #aaa;padding:12px 8px;margin:10px 0;}
#uudai .title{font-size:15px;text-align:center;display:block;margin-bottom:10px;color:#e00;margin:0;padding:0;}

#uudai ul li span{display:block;margin-left:30px;line-height:20px;}
#showPop{position:fixed;top:0;left:0;right:0;bottom:0;z-index:9999999999;}
#backgroundPopup{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,0.6);}
#contactArea{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);z-index:9999999999;}
#popupContactClose{position:absolute;top:70px;right:70px;}
#uudai{border-radius:5px;}
#diachi{border:solid 1px #aaa;padding:12px 20px;margin:10px 0;border-radius:5px;}
#diachi i{font-size:23px;color:#2b80dd;margin-right:10px;}
#diachi .fa.fa-envelope{font-size:19px;}
.list_cauhinh{padding:0;list-style:none;display:grid;grid-template-columns:49% 49%;grid-gap:2%;}
.list_cauhinh li{border:1px solid #ddd;border-radius:5px;text-align:center;font-size:13px;padding-top:10px;padding-bottom:5px;margin-bottom:5px;background:#dddddd3d;}
.list_cauhinh li p{color:#e00;font-size:17px;margin-bottom:0;}
.list_cauhinh li.active{border:1px solid #e00;position:relative;}
i.fab.fa-facebook-f{color:white;background:#1877f2;padding:10px;border-radius:50%;font-size:20px;margin-right:10px;width:40px;text-align:center;}
i.fab.fa-youtube{background:red;color:white;padding:11px 10px;border-radius:50%;margin-right:10px;}
i.fab.fa-tiktok{background:black;color:white;padding:11px 10px;border-radius:50%;width:37px;text-align:center;}
li.support-item{list-style:none;margin-bottom:0.5rem;font-size:14px;}
li.baohanh-item{padding-top:1.5rem;}
.items{display:flex;align-items:center;justify-content:flex-start;}
.content--support{display:flex;flex-direction:column;}
.icon--phone i.fa{font-size:30px;}
.support-item.nd-01{background-color:#2b80dd;color:white;}
.support-item .icon--phone{padding:1rem;}
.support-item a{text-decoration:none;color:white;}
.support-item a:hover{color:orange;}
.support-item.nd-02{background-color:#1a9891;color:white;}
.support-item.nd-03{background-color:#ed9536;color:white;}
.support-item.nd-04{background-color:#ed3636;color:white;}
.share{display:flex;align-items:center;}
.thongsokythuat table{float:inherit !important;}
.thongsokythuat #gtx-trans{display:none}
.albums_home{margin:0 -2px;display:flex;flex-wrap:wrap;justify-content:center;}
.albums__page{background:white;padding:1rem;}
p.img-title-cat.page_title{padding:7px 0;border-bottom:1px solid #eee;margin-bottom:20px;position:relative;font-size:15px;font-weight:700;}
p.img-title-cat.page_title::before,p.title-feeedback::before{content:"";width:30px;height:3px;background:#1090e0;position:absolute;bottom:0px;left:0px;}
p.title-feeedback{padding:7px 0;border-bottom:1px solid #eee;margin-bottom:20px;position:relative;font-size:15px;font-weight:700;margin:0 2rem;}
.albums_home .albums{width:calc(100%/3 - 20px);;margin:10px;float:left;position:relative;}
.albums_home .albums .image{overflow:hidden;position:relative;}
.albums_home .albums .image img{width:100%;height:240px;margin:auto;}
.albums_home .albums .image .icon{position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);background-color:#0000008a;color:#fff;font-size:15px;transition:0.5s;padding:2rem;border-radius:50%;opacity:0;}
.albums_home .albums .image .icon i{border:1px solid;padding:1rem 1.2rem;border-radius:50%;}
.albums_home .albums .image .icon,.albums_home .albums .image a{text-decoration:none;color:white;}
.albums_home .albums .image:hover .icon{opacity:1;}
.video__content{background:white;padding:1rem;}
#myImg{border-radius:5px;cursor:pointer;transition:0.3s}
#myImg:hover{opacity:0.7}
.show-img{display:none;position:fixed;z-index:999;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0.9)}
.show-content{margin:auto;display:block;width:80%;max-width:700px;border:6px solid white;border-radius:5px}
#title-show{margin:auto;display:block;width:80%;max-width:700px;text-align:left;color:#ccc;padding:10px 0;height:150px;font-size:14px;font-weight:500}
.show-content,#title-show{-webkit-animation-name:zoom;-webkit-animation-duration:0.6s;animation-name:zoom;animation-duration:0.6s}
@-webkit-keyframes zoom{from{-webkit-transform:scale(0)}
to{-webkit-transform:scale(1)}
}
@keyframes zoom{from{transform:scale(0)}
to{transform:scale(1)}
}
#close{position:absolute;top:15px;right:35px;color:#f1f1f1;font-size:40px;font-weight:bold;transition:0.3s}
#close:hover,#close:focus{color:#bbb;text-decoration:none;cursor:pointer}
.btn-more a{padding:17px 50px 15px 20px;color:#0089de;font-size:16px;border-radius:3px;}
.btn-more{text-align:center;color:#0089de;margin-top:20px;}
.btn-more a:hover{background-color:#0089de;color:white;}
#feedback__content{padding:10px;}
#feedback__content .items-feedback{background-color:white;margin:0 10px;}
.items-feedback .items-feedback-content{border:1px solid rgb(218, 218, 218);padding:10px;}
.items-feedback .title--feedback{position:relative;padding:2rem;font-size:14px;}
.items-feedback .title--feedback::before{content:",,";color:#bdbdbd;font-size:44px;position:absolute;top:-30px;left:0;font-weight:bold;letter-spacing:-3px;}
.items-feedback .avatar--feedback{position:relative;padding:13px 0 0 25px;display:flex;align-items:center;}
.items-feedback .avatar--feedback::before{content:"";width:10px;height:10px;position:absolute;top:-5px;left:40px;background:#fff;border:1px solid rgb(177, 177, 177);transform:rotate(45deg);border-width:0px 1px 1px 0;}
.items-feedback .avatar--feedback img{width:13% !important;border-radius:50%;}
.avatar--feedback .title-user{font-size:14px;padding-left:10px;}
.avatar--feedback .title-user p{font-weight:700;font-size:14px;}
.img--feedback{position:relative;overflow:hidden;}
.img--feedback .overlay{position:absolute;opacity:0;top:50%;left:50%;transform:translate(-50%, -50%);height:70%;width:70%;border:70px double rgb(255 255 255 / 25%);transition:all 0.4s cubic-bezier(1, 0.9, 0.3, 0.2) 0s;overflow:hidden;}
.img--feedback:hover .overlay{opacity:1;width:150%;height:185%;transition:all 0.5s cubic-bezier(1, 0.9, 0.1, 0.62) 0s;visibility:visible;box-sizing:border-box;}
.items-feedback.slick-slide{border:0;outline:none;box-shadow:none;}
 .items-left{margin-right:1rem;}
img#video{height:377px;}
.slick-slider{margin:0}
button.slick-arrow{display:none !important;}
.feedback__main{background:white;padding-top:4rem;}
.d-flex{display:flex;}
.align-items{align-items:center;}
.flex-wrap{flex-wrap:wrap;}
.danhmuc-2{width:calc(100% / 2);font-weight:700;margin-bottom: 10px;}
.danhmuc-2 a{font-size:17px;}
.danhmuc-2 .danhmuc-3{padding-left:10px;font-weight:400;}
.danhmuc-3 .item-3 a{font-size:14px;}
.danhmuc-3 .item-3{padding-right:20px;width:50%;}
.showroom-list{margin-bottom:10px;margin-right:-10px;}
.showroom-list .item{width:calc(100% / 2 - 10px);color:#fff;text-align:center;font-size:16px;text-transform:uppercase;font-weight:bold;margin-right:10px;}
.showroom-list .item img{width: 100%;}
.showroom-list .item p{margin-bottom:0;}
.showroom-list .item .hotline{padding:10px;border:1px solid #fff;width:250px;text-align:center;margin:10px auto;border-radius:5px;}
@media (max-width:1024px){.menu .item .root{font-size:12px;}
 .block-detail .box-text-update2021 .show-shadow{display:none !important;}
}
/* cart */
.cart-page .title-box-cart{line-height:40px;background-color:#11229b;text-transform:uppercase;font-weight:bold;font-size:18px;padding:0 10px;color:#fff;margin-bottom:10px;}
.cart-page .cart-content-wrapper,.cart-page .cart-checkLogin{background:#fff;}
.cart-page .sex{padding:0 18px;}
.cart-page .sex label{margin-right:15px;margin-bottom:0;}
.cart-page .form-control{margin-bottom:10px;box-shadow:unset !important;font-size: 14px;}
.cart-page #tax-form{display:none;}
.cart-page #tax-invoice{background:#f5f6f7;padding:10px;}
.cart-page label{margin-bottom:0;}
.cart-page .list-payment-method{padding:10px 18px;}
.cart-page .list-payment-method label{border-bottom:1px solid #e1e1e1;padding:10px 0;display:flex;align-items:center;justify-content:space-between;font-weight:500;cursor:pointer;}
.cart-page .list-payment-method label:last-child{border:0;}
.cart-page .list-payment-method input{order:1;}
.cart-page .border-box-title{border-top:20px solid #f5f6f7;margin-bottom:0;}
.cart-content-wrapper .title{display:block;text-align:center;font-size:18px;text-transform:uppercase;font-weight:600;}
.cart-content-wrapper{padding:30px 5px 10px 5px;}
.cart-content-wrapper .cart-item{display:flex;flex-wrap:wrap;}
.cart-content-wrapper .cart-item .cart-item-left{-ms-flex:0 0 90px;flex:0 0 90px;max-width:90px;display:flex;flex-direction:column;align-items:center;}
.cart-content-wrapper .cart-item .cart-item-center{display:flex;align-items:flex-start;flex-direction:column;padding:15px 10px;-ms-flex:0 0 280px;flex:0 0 280px;max-width:280px;}
.cart-content-wrapper .cart-item .cart-item-center .p-cart-name{font-size:13px;font-weight:600;}
.cart-content-wrapper .cart-item .cart-item-right{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;max-width:100%;padding:0 10px;}
.cart-content-wrapper .cart-item .cart-item-right .total-item-price{font-size:18px;color:#eb6090;}
.cart-page .item-incart{padding:10px 0;border-bottom:solid 1px #eee;display:flex;flex-wrap:wrap;}
.cart-page .item-incart .col1{width:90px;float:left;text-align:center;margin-right:15px;}
.cart-page .item-incart .col1 img{max-width:100%;height:auto;}
.cart-page .item-incart .col3{width:150px;text-align:right;margin-left:15px;}
.cart-page .item-incart .col2{width:calc(100% - 270px);}
.cart-page .item-incart:first-child{border-top:solid 1px #eee;}
.cart-page .unit-detail-amount-control{position:relative;width:126px;height:32px;line-height:32px;zoom:1;}
.cart-page .unit-detail-amount-control a{cursor:pointer;float:left;width:32px;height:30px;border:1px solid #ddd;line-height:30px;overflow:hidden;text-align:center;color:#333;background:#fff;}
.cart-page .unit-detail-amount-control input{float:left;width:35px;text-align:center;height:30px;line-height:30px;border-width:1px;border-style:solid;border-color:#ddd;border-left:none;border-right:0;}
.cart-page .unit-detail-amount-control a:hover{background:#ddd;}
.cart-page .item-incart .total-item-price{color:#e30303;padding-right: 10px}
.cart-page .item-incart .title{line-height:30px;border:solid 1px #ddd;padding:0 10px;cursor:pointer;font-size:14px;font-weight:normal;text-align:left;text-transform:unset;position:relative;}
.cart-page .item-incart .content{border:solid 1px #ddd;position:absolute;min-width:100%;box-sizing:border-box;-moz-box-sizing:border-box;background:#fff;margin-top:-1px;display:none;z-index:9;max-height:250px;overflow:auto;left:0;right:0;}
.cart-page .item-incart .content a{display:block;font-weight:400;padding:8px 10px;cursor:pointer;}
.cart-page .item-incart .select{position:relative;}
.cart-page .item-incart .content a:hover{background:#f1f1f1;}
.cart-page .variant-product{margin-top:10px;}
.cart-page .item-incart .title::after{content:'\f107';font-family:'FONTAWESOME';float:right;}
.cart-page .voucher-input{text-align:right;padding:10px 0 0 0;}
.cart-page .voucher-input input{width:200px;padding-left:10px;height:34px;border:1px solid #ccc;border-radius:4px;}
.cart-page .voucher-input .button-check-discount{background:#11229b;color:#fff;border:0;height:34px;border-radius:5px;}
.cart-page .tbl-cart-price td{font-weight:500;}
.cart-page .tbl-cart-price td:nth-child(2){font-weight:500;}
.cart-page .item-incart:hover {background: #f8f8f8;}
.cart-page .delete-from-cart {margin-top: 10px;}
.green {
    color: green;
    font-weight: bold;
}
.product-home .pro-head .title {
    color: #fff;
    background-color: #2b80dd;
    background-image: url('https://laptopaz.vn/template/t2021/images/bg_title.png');
    background-repeat: no-repeat;
    background-position: right center;
}