<div nz-row [nzGutter]="24" style="margin-bottom: 15px;">
  <div nz-col [nzSpan]="12">
    <input nz-input placeholder="Tìm kiếm theo từ khóa" [(ngModel)]="searchKeyword" (ngModelChange)="search()" />
  </div>
  <div nz-col [nzSpan]="6">
    <button nz-button nzType="primary" (click)="create()">
      <i class="fa fa-plus"></i> Thêm mới
    </button>
  </div>
</div>
<nz-table #basicTable [nzData]="listData" nzBordered nzSize="middle">
  <thead>
    <tr>
      <th nzWidth="1%">STT</th>
      <th nzWidth="10%">Mã Voucher</th>
      <th nzWidth="10%">Tên Voucher</th>
      <th nzWidth="13%">Giá trị</th>
      <th nzWidth="13%">Số lượng</th>
      <th nzWidth="10%">Ngày bắt đầu</th>
      <th nzWidth="13%">Kết thúc</th>

      <th nzWidth="10%">Trạng thái</th>
      <th nzWidth="5%">Hành động</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of basicTable.data">
      <td>{{ item.stt}}</td>
      <td>{{ item.maVoucher}}</td>
      <td>{{ item.tenVoucher}}</td>
      <td>{{ item.giaTri}}</td>
      <td>{{ item.soLuong}}</td>
      <td>{{ item.startDay| date:
        'dd/MM/yyyy, HH:mm' }}</td>
      <td>{{ item.endDay| date:
        'dd/MM/yyyy, HH:mm' }}</td>

<td>
  {{ item.status === 1 ? 'Hiển thị' : 'Ẩn' }}
</td>

      <td>
        <a (click)="edit(item)" title="Sửa" style="margin-right: 10px;">
          <span class="kt-font-success">
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </span>
        </a>
        <a title="Xóa" nz-popconfirm nzPopconfirmTitle="Bạn có muốn xóa không?"
          nzPopconfirmPlacement="bottom" (nzOnConfirm)="delete(item.id)" (nzOnCancel)="cancel()">
          <span class="kt-font-danger">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </span>
        </a>

      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [(nzVisible)]="isVisible" nzTitle="{{ modalTitle }}" (nzOnCancel)="close()" (click)="save()"
  [nzWidth]="'50%'">
  <nz-layout *nzModalContent>
    <form nz-form [formGroup]="fbForm" style="background-color:white;">
      <input nz-input formControlName="id" style="display: none;" />

      <nz-form-item> <nz-form-label nzFor="maVoucher" [nzSm]="6" nzRequired>Mã</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <input nz-input formControlName="maVoucher" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> <nz-form-label nzFor="tenVoucher" [nzSm]="6" nzRequired>Tên</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <input nz-input formControlName="tenVoucher" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> <nz-form-label nzFor="giaTri" [nzSm]="6" nzRequired>Giá trị</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <nz-input-number formControlName="giaTri" class="width-200"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> <nz-form-label nzFor="soLuong" [nzSm]="6" nzRequired>Số lượng</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <nz-input-number formControlName="soLuong" class="width-200"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> <nz-form-label nzFor="startDay" [nzSm]="6" nzRequired>Ngày bắt đầu</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <nz-date-picker formControlName="startDay"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item> <nz-form-label nzFor="endDay" [nzSm]="6" nzRequired>Ngày kết thúc</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <nz-date-picker formControlName="endDay"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="status" [nzSm]="6" nzRequired>Trạng thái</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Giá trị bắt buộc!">
          <nz-select formControlName="status" nzPlaceHolder="Chọn trạng thái">
            <nz-option [nzValue]="1" nzLabel="Hiển thị"></nz-option>
            <nz-option [nzValue]="2" nzLabel="Ẩn"></nz-option>

          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-layout>
  <div *nzModalFooter>
    <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
    <button type="button" nz-button nzType="primary" (click)="save()"><i nz-icon nzType="save"></i>Lưu
    </button>
  </div>
</nz-modal>