<nz-table nzShowPagination
nzShowSizeChanger
[nzData]="listOfData"
[nzLoading]="loading"
[nzTotal]="total"
[nzPageSize]="pageSize"
[nzPageIndex]="pageIndex"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.id }}</td>
      <td>{{ data.tenVoucher }}</td>
      <td>{{ data.giaTri}}</td>
      <td>
      
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table>