.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px !important;
}
.w-250 {
    width: 250px !important;
}
.w-100 {
    width: 100px !important;
}

.w-50 {
    width: 100px !important;
}

.mgl-t-15 {
    margin-left: 15px !important;
    margin-top: 15px !important;
}