<div class="container">
    <div class="product-sort d-flex justify-content-between">
        <div class="">
            <span>Sắp xếp theo</span>
            <select onchange="location.href=this.value">

                <option value="https://laptopaz.vn/dell-xps.html?sort=new">Mới nhất</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=price-asc">Giá: thấp -> cao</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=price-desc">Giá: cao -> thấp</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=view">Xem nhiều nhất</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=comment">Nhiều nhận xét</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=rating">Đánh giá cao nhất</option>

                <option value="https://laptopaz.vn/dell-xps.html?sort=name">Tên A->Z</option>

            </select>
        </div>
        <div class="d-flex align-items-center">
            <span>Xem</span>
            <!-- <a href="javascript:;"  onclick="setUserOption('product_display', 'grid', 'https://laptopaz.vn/dell-xps.html')"   class="active"" ><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"  onclick="setUserOption('product_display', 'list', 'https://laptopaz.vn/dell-xps.html')"   "><i class="fa fa-bars"></i></a> -->
        </div>
    </div>
</div>
<div class="product-list">
    <div class="container">
        <div class="p-list d-flex flex-wrap   " id="product">

            <div class="p-item js-p-item">
                <div class="p-img">
                    <a href="/moi-100-dell-xps-15-9520-core-i7-12700h-16gb-512gb-rtx-3050ti-15.6quot-fhd.html">
                        <img src="https://laptopaz.vn/media/product/2487_laptopaz_dell_xps_9520_1.jpg"
                            alt="[New 100%] Dell XPS 15 9520 (Core i7-12700H, 16GB, 512GB, RTX 3050Ti, 15.6&quot; FHD+)">
                    </a>
                </div>
                <div class="p-emtry">
                    <a href="/moi-100-dell-xps-15-9520-core-i7-12700h-16gb-512gb-rtx-3050ti-15.6quot-fhd.html"
                        class="p-name">[New 100%] Dell XPS 15 9520 (Core i7-12700H, 16GB, 512GB, RTX 3050Ti, 15.6&quot;
                        FHD+)</a>
                    <span class="p-price">

                        <span class="box-text-update2021">
                            <span class="show-him">
                                47.990.000
                            </span>
                            <span class="show-shadow">
                                47.990.000
                            </span>
                        </span>



                        <span class="p-mprice">
                            58.890.000
                        </span>

                    </span>
                </div>



                <span class="productType">
                    <img class="img-fluid" src="/template/t2021/images/sales.png" alt="sale off">
                    <span class="percent">-19%</span>
                </span>



                <div class="p-hover">
                    <a href="/moi-100-dell-xps-15-9520-core-i7-12700h-16gb-512gb-rtx-3050ti-15.6quot-fhd.html"
                        class="p-name">[New 100%] Dell XPS 15 9520 (Core i7-12700H, 16GB, 512GB, RTX 3050Ti, 15.6&quot;
                        FHD+)</a>
                    <span class="p-price">47.990.000đ</span>
                    <p><strong>Bảo hành: </strong> <span>12 tháng LaptopAZ</span></p>
                    <p><strong>Kho hàng: </strong> <span>Còn hàng</span></p>
                    <div class="p-summary">
                        <strong>Mô tả tóm tắt</strong>


                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pro-head d-flex">
    <div class="title">
        <h3><a href="/laptop-van-phong.html">HỌC TẬP - VĂN PHÒNG</a></h3>
    </div>
    <div class="filter-price d-flex align-items-center">
         <span>Mức giá:</span><ul class="d-flex m-0 list-unstyled"><li><a href="/laptop-mong-nhe.html?max=10000000&amp;min=5000000">5 Triệu - 10 Triệu</a></li><li><a href="/laptop-mong-nhe.html?max=20000000&amp;min=10000000">10 Triệu - 20 Triệu</a></li><li><a href="/laptop-mong-nhe.html?max=30000000&amp;min=20000000">20 Triệu - 30 Triệu</a></li><li><a href="/laptop-mong-nhe.html?max=40000000&amp;min=30000000">30 Triệu - 40 Triệu</a></li><li><a href="/laptop-mong-nhe.html?max=400000000&amp;min=40000000">Trên 40 Triệu</a></li></ul> 
    </div>
</div>
